/* src/styles/nprogress.css */

/* Bar Utama */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #3b82f6; /* Warna biru (blue-500) */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Dibuat sedikit lebih tebal */

  /* Efek glow/bayangan yang halus */
  box-shadow: 0 0 15px #3b82f6, 0 0 10px #3b82f6;
}
/* Hapus "peg" atau efek blur bawaan karena kita sudah punya glow */
#nprogress .peg {
  display: none;
}